lab4/lab4.json
[{"id":"23e9bb9ea1d0eb27","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"49b71f13b3efcfc2","type":"group","z":"23e9bb9ea1d0eb27","name":"change number","style":{"label":true},"nodes":["67779b82b621d5ea","e099214afe05bf1d","71447d6aed0dff0e","632a3c5ef0278944","cebc26911b8390aa","bd1cad7af5c8ef62","2f3fb9fadb036818","ca5b4aacf5139a13","34e67a4889e301e1","bedb8447a9387eb0"],"x":114,"y":579,"w":562,"h":242},{"id":"af59fe685d3649a9","type":"group","z":"23e9bb9ea1d0eb27","name":"Controls","style":{"label":true},"nodes":["1027fb6396559b0a","2c2b7f59c33f304c","bd3a181b547489b6","2559df92d47ca20a","f863286db774dc30","4713d979b8324d42","65fb4cc8056d27ef"],"x":114,"y":319,"w":512,"h":242},{"id":"e1154fe3feec1c90","type":"group","z":"23e9bb9ea1d0eb27","name":"Table","style":{"label":true},"nodes":["18c2dffdd8d45db6","a06c74d76c3ffb97","42f154649d34de9d"],"x":294,"y":1019,"w":472,"h":82},{"id":"671a5f323aca6273","type":"ui-base","name":"Widgets1","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true,"allowInstall":false},{"id":"c3cb85e681a4eee4","type":"ui-theme","name":"jgj","colors":{"surface":"#ffffff","primary":"#177487","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"12ca0d90e860bc06","type":"ui-page","name":"Widgets","ui":"671a5f323aca6273","path":"/widgets","icon":"home","layout":"grid","theme":"c3cb85e681a4eee4","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":true,"disabled":false},{"id":"74d9d7c2da482ab9","type":"ui-group","name":"Indicators","page":"12ca0d90e860bc06","width":"9","height":"1","order":3,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"885d92cb91c4397c","type":"ui-theme","name":"Default Theme","colors":{"surface":"#f7f7f7","primary":"#408080","bgPage":"#eeeeee","groupBg":"#e8e8e8","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"7760f48e1c1c42c6","type":"ui-group","name":"Controls","page":"12ca0d90e860bc06","width":"4","height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"c85ea511bec3c000","type":"ui-group","name":"Numbers","page":"12ca0d90e860bc06","width":"3","height":1,"order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"1bf5887a88799a38","type":"ui-page","name":"Data","ui":"671a5f323aca6273","path":"/pagedata","icon":"table","layout":"grid","theme":"885d92cb91c4397c","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":2,"className":"","visible":"true","disabled":"false"},{"id":"9f0cb93cbe376ee1","type":"ui-group","name":"DataGroup1","page":"1bf5887a88799a38","width":"17","height":1,"order":1,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"e401bccd22d7640d","type":"inject","z":"23e9bb9ea1d0eb27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$random() * 10.0","payloadType":"jsonata","x":230,"y":140,"wires":[["71970ebb300c2cc0","37bce2836e957909","6f3607ba8e3ab89b"]]},{"id":"71970ebb300c2cc0","type":"ui-gauge","z":"23e9bb9ea1d0eb27","name":"speed1","group":"74d9d7c2da482ab9","order":1,"value":"$round(payload, 1)","valueType":"jsonata","width":3,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"speed1","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"m/s","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#001eff","text":"","textType":"label"},{"from":"2","color":"#11ff00","text":"","textType":"label"},{"from":"5","color":"#fff700","text":"","textType":"label"},{"from":"8","color":"#ff0000","text":"","textType":"label"}],"min":0,"max":10,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":500,"y":140,"wires":[[]]},{"id":"37bce2836e957909","type":"ui-gauge","z":"23e9bb9ea1d0eb27","name":"speed2","group":"74d9d7c2da482ab9","order":3,"value":"$round($random() * 10.0, 1)","valueType":"jsonata","width":"3","height":"3","gtype":"gauge-battery","gstyle":"needle","title":"speed2","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"m/s","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#001eff","text":"","textType":"label"},{"from":"2","color":"#11ff00","text":"","textType":"label"},{"from":"5","color":"#fff700","text":"","textType":"label"},{"from":"8","color":"#ff0000","text":"","textType":"label"}],"min":0,"max":10,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":500,"y":200,"wires":[[]]},{"id":"6f3607ba8e3ab89b","type":"ui-gauge","z":"23e9bb9ea1d0eb27","name":"speed3","group":"74d9d7c2da482ab9","order":2,"value":"$round($random() * 10.0, 1)","valueType":"jsonata","width":"6","height":"2","gtype":"gauge-tank","gstyle":"needle","title":"speed3","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"m/s","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#001eff","text":"","textType":"label"},{"from":"2","color":"#11ff00","text":"","textType":"label"},{"from":"5","color":"#fff700","text":"","textType":"label"},{"from":"8","color":"#ff0000","text":"","textType":"label"}],"min":0,"max":10,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":500,"y":260,"wires":[[]]},{"id":"67779b82b621d5ea","type":"ui-number-input","z":"23e9bb9ea1d0eb27","g":"49b71f13b3efcfc2","group":"c85ea511bec3c000","name":"","label":"number","order":3,"width":"1","height":"1","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"tooltip":"","delay":"0","passthru":false,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"stacked","x":420,"y":700,"wires":[["cebc26911b8390aa"]]},{"id":"e099214afe05bf1d","type":"ui-button-group","z":"23e9bb9ea1d0eb27","g":"49b71f13b3efcfc2","name":"","group":"c85ea511bec3c000","order":2,"width":"2","height":1,"label":"set","className":"","rounded":true,"useThemeColors":true,"passthru":false,"options":[{"label":"","icon":"numeric-0-box","value":"0","valueType":"num","color":"#009933"},{"label":"","icon":"numeric-5-box","value":"5","valueType":"num","color":"#999999"},{"label":"","icon":"numeric-10-box","value":"10","valueType":"str","color":"#ff6666"}],"topic":"topic","topicType":"msg","x":330,"y":740,"wires":[["cebc26911b8390aa"]]},{"id":"71447d6aed0dff0e","type":"ui-slider","z":"23e9bb9ea1d0eb27","g":"49b71f13b3efcfc2","group":"c85ea511bec3c000","name":"","label":"slider","tooltip":"","order":5,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":10,"step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":330,"y":660,"wires":[["cebc26911b8390aa"]]},{"id":"632a3c5ef0278944","type":"ui-text","z":"23e9bb9ea1d0eb27","g":"49b71f13b3efcfc2","group":"c85ea511bec3c000","order":6,"width":"1","height":"1","name":"","label":"Result","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","value":"payload","valueType":"msg","x":330,"y":620,"wires":[]},{"id":"cebc26911b8390aa","type":"link out","z":"23e9bb9ea1d0eb27","g":"49b71f13b3efcfc2","name":"link out 1","mode":"link","links":["bd1cad7af5c8ef62"],"x":635,"y":680,"wires":[]},{"id":"bd1cad7af5c8ef62","type":"link in","z":"23e9bb9ea1d0eb27","g":"49b71f13b3efcfc2","name":"link in 1","links":["cebc26911b8390aa"],"x":165,"y":680,"wires":[["2f3fb9fadb036818"]]},{"id":"2f3fb9fadb036818","type":"delay","z":"23e9bb9ea1d0eb27","g":"49b71f13b3efcfc2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":215,"y":680,"wires":[["71447d6aed0dff0e","632a3c5ef0278944","bedb8447a9387eb0"]],"l":false},{"id":"ca5b4aacf5139a13","type":"ui-button","z":"23e9bb9ea1d0eb27","g":"49b71f13b3efcfc2","group":"c85ea511bec3c000","name":"","label":"to random","order":4,"width":"1","height":"1","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":200,"y":780,"wires":[["34e67a4889e301e1"]]},{"id":"34e67a4889e301e1","type":"change","z":"23e9bb9ea1d0eb27","g":"49b71f13b3efcfc2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round($random() * 10.0, 0)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":780,"wires":[["cebc26911b8390aa"]]},{"id":"1027fb6396559b0a","type":"ui-text-input","z":"23e9bb9ea1d0eb27","g":"af59fe685d3649a9","group":"7760f48e1c1c42c6","name":"","label":"text","order":5,"width":"2","height":"1","topic":"topic","topicType":"msg","mode":"text","tooltip":"","delay":300,"passthru":false,"sendOnDelay":true,"sendOnBlur":false,"sendOnEnter":false,"className":"","clearable":false,"sendOnClear":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","x":230,"y":480,"wires":[["f863286db774dc30"]]},{"id":"2c2b7f59c33f304c","type":"ui-dropdown","z":"23e9bb9ea1d0eb27","g":"af59fe685d3649a9","group":"7760f48e1c1c42c6","name":"","label":"Select Option:","tooltip":"","order":1,"width":"2","height":"1","passthru":false,"multiple":false,"chips":true,"clearable":false,"options":[{"label":"Hello","value":"Hello World!","type":"str"},{"label":"Slava","value":"Slava Ukrayini!","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","typeIsComboBox":true,"msgTrigger":"onChange","x":220,"y":400,"wires":[["f863286db774dc30"]]},{"id":"bd3a181b547489b6","type":"ui-radio-group","z":"23e9bb9ea1d0eb27","g":"af59fe685d3649a9","group":"7760f48e1c1c42c6","name":"","label":"Select Option:","order":4,"width":"1","height":"3","columns":1,"passthru":false,"options":[{"label":"0","value":"Zero","type":"str"},{"label":"1","value":"One","type":"str"},{"label":"10","value":"Ten","type":"str"},{"label":"5","value":"Five","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":220,"y":440,"wires":[["f863286db774dc30"]]},{"id":"2559df92d47ca20a","type":"ui-switch","z":"23e9bb9ea1d0eb27","g":"af59fe685d3649a9","name":"","label":"On/Off","group":"7760f48e1c1c42c6","order":2,"width":"1","height":"1","passthru":false,"decouple":false,"topic":"topic","topicType":"msg","style":"","className":"","layout":"row-left-swapped","clickableArea":"switch","onvalue":"On","onvalueType":"str","onicon":"toggle-switch","oncolor":"green","offvalue":"Off","offvalueType":"str","officon":"toggle-switch-off","offcolor":"grey","x":230,"y":360,"wires":[["f863286db774dc30"]]},{"id":"f863286db774dc30","type":"ui-audio","z":"23e9bb9ea1d0eb27","g":"af59fe685d3649a9","group":"","ui":"671a5f323aca6273","name":"","order":0,"width":0,"height":0,"mode":"tts","voice":"","src":"","autoplay":"off","loop":"off","muted":"off","x":420,"y":420,"wires":[["4713d979b8324d42"]]},{"id":"4713d979b8324d42","type":"ui-text","z":"23e9bb9ea1d0eb27","g":"af59fe685d3649a9","group":"7760f48e1c1c42c6","order":3,"width":"2","height":"1","name":"","label":"Value","format":"{{msg.payload}}","layout":"row-left","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","value":"payload","valueType":"msg","x":550,"y":420,"wires":[]},{"id":"65fb4cc8056d27ef","type":"ui-text-input","z":"23e9bb9ea1d0eb27","g":"af59fe685d3649a9","group":"7760f48e1c1c42c6","name":"","label":"date","order":6,"width":"2","height":"1","topic":"topic","topicType":"msg","mode":"date","tooltip":"","delay":300,"passthru":false,"sendOnDelay":true,"sendOnBlur":false,"sendOnEnter":false,"className":"","clearable":false,"sendOnClear":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","x":230,"y":520,"wires":[["f863286db774dc30"]]},{"id":"bedb8447a9387eb0","type":"ui-gauge","z":"23e9bb9ea1d0eb27","g":"49b71f13b3efcfc2","name":"","group":"c85ea511bec3c000","order":1,"value":"payload","valueType":"msg","width":3,"height":3,"gtype":"gauge-tile","gstyle":"needle","title":"gauge","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#001eff","text":"","textType":"value"},{"from":"3","color":"#04ff00","text":"","textType":"value"},{"from":"6","color":"#fbff00","text":"","textType":"value"},{"from":"8","color":"#ff0000","text":"","textType":"value"}],"min":0,"max":10,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":290,"y":700,"wires":[["67779b82b621d5ea"]]},{"id":"18c2dffdd8d45db6","type":"ui-table","z":"23e9bb9ea1d0eb27","g":"e1154fe3feec1c90","group":"9f0cb93cbe376ee1","name":"","label":"Exapmle table","order":1,"width":0,"height":0,"maxrows":"0","autocols":false,"showSearch":false,"deselect":true,"selectionType":"none","columns":[{"title":"Row","key":"","keyType":"key","type":"row","width":"","align":"start"},{"title":"My Column","key":"columnA","keyType":"key","type":"text","width":"","align":"start"},{"title":"My Other Column","key":"columnB","keyType":"key","type":"text","width":"","align":"start"},{"title":"URL","key":"link","keyType":"key","type":"link","width":"300px","align":"start"},{"title":"Progress","key":"progress","keyType":"key","type":"progress","width":"","align":"start"},{"title":"Trend","key":"array","keyType":"key","type":"sparkline-trend","width":"","align":"start"},{"title":"Bar","key":"array","keyType":"key","type":"sparkline-bar","width":"","align":"start"},{"title":"Tick/Cross","key":"boolean","keyType":"key","type":"tickcross","width":"","align":"start"},{"title":"Spot","key":"color","keyType":"key","type":"color","width":"","align":"center"},{"title":"Num","key":"num","keyType":"key","type":"text","width":"","align":"start"}],"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","action":"replace","className":"","x":660,"y":1060,"wires":[[]]},{"id":"a06c74d76c3ffb97","type":"inject","z":"23e9bb9ea1d0eb27","g":"e1154fe3feec1c90","name":"","props":[{"p":"progress1","v":"$round($random() * 100.0, 0)","vt":"jsonata"},{"p":"progress2","v":"$round($random() * 100.0, 0)","vt":"jsonata"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":390,"y":1060,"wires":[["42f154649d34de9d"]]},{"id":"42f154649d34de9d","type":"template","z":"23e9bb9ea1d0eb27","g":"e1154fe3feec1c90","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n    {\n        \"columnA\": \"Hello\",\n        \"columnB\": \"World\",\n        \"link\": \"https://news.bbc.co.uk\",\n        \"progress\": {{progress1}},\n        \"num\": {{progress1}},\n        \"color\": \"#FF0000\",\n        \"array\": [\n            6,\n            7,\n            9,\n            2,\n            4\n        ],\n        \"boolean\": true\n    },\n    {\n        \"columnA\": \"Hey\",\n        \"columnB\": \"Globe\",\n        \"link\": \"https://flowfuse.com\",\n        \"progress\": {{progress2}},\n        \"num\": {{progress2}},\n        \"color\": \"#24aa69\",\n        \"array\": [\n            1,\n            3,\n            6,\n            3,\n            5\n        ],\n        \"boolean\": false\n    }\n]","output":"json","x":495,"y":1060,"wires":[["18c2dffdd8d45db6"]],"l":false},{"id":"41700a43644c20d3","type":"global-config","env":[],"modules":{"@flowfuse/node-red-dashboard":"1.30.2"}}]