lab3/lab3.json

[{"id":"7ede300b98e8d28d","type":"tab","label":"Поток 1","disabled":false,"info":"","env":[]},{"id":"d5541ced36b63df0","type":"tab","label":"Поток 2","disabled":false,"info":"","env":[]},{"id":"4074ab84059d5192","type":"inject","z":"7ede300b98e8d28d","name":"початок","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"topic1","payload":"","payloadType":"date","x":160,"y":220,"wires":[["9919bfb865d5220a","6b09e921ae73b658","3ef0650d77941d72","1a7bd4ce1c092d50","99060ef2513085e5","d1a9f4261abf317c"]]},{"id":"8013e2602daafded","type":"debug","z":"7ede300b98e8d28d","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":220,"wires":[]},{"id":"9919bfb865d5220a","type":"change","z":"7ede300b98e8d28d","name":"set1","rules":[{"t":"set","p":"payload","pt":"msg","to":"один","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":220,"wires":[["8013e2602daafded"]]},{"id":"6b09e921ae73b658","type":"delay","z":"7ede300b98e8d28d","name":"delay 1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":340,"y":280,"wires":[["a14ec4b47b3b7aed"]]},{"id":"3ef0650d77941d72","type":"delay","z":"7ede300b98e8d28d","name":"delay 2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":340,"y":320,"wires":[["1b1d744dbbc4ce7a"]]},{"id":"1a7bd4ce1c092d50","type":"delay","z":"7ede300b98e8d28d","name":"delay 3s","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":340,"y":360,"wires":[["53a2ed8944aff130"]]},{"id":"99060ef2513085e5","type":"delay","z":"7ede300b98e8d28d","name":"delay 4s","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":340,"y":400,"wires":[["6ef3792698b2652f"]]},{"id":"a14ec4b47b3b7aed","type":"change","z":"7ede300b98e8d28d","name":"set2","rules":[{"t":"set","p":"payload","pt":"msg","to":"два","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":280,"wires":[["8013e2602daafded"]]},{"id":"1b1d744dbbc4ce7a","type":"change","z":"7ede300b98e8d28d","name":"set3","rules":[{"t":"set","p":"payload","pt":"msg","to":"три","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":320,"wires":[["8013e2602daafded"]]},{"id":"53a2ed8944aff130","type":"change","z":"7ede300b98e8d28d","name":"set4","rules":[{"t":"set","p":"payload","pt":"msg","to":"чотири","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":360,"wires":[["8013e2602daafded"]]},{"id":"6ef3792698b2652f","type":"change","z":"7ede300b98e8d28d","name":"set5","rules":[{"t":"set","p":"payload","pt":"msg","to":"п'ять","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":400,"wires":[["8013e2602daafded"]]},{"id":"d1a9f4261abf317c","type":"function","z":"7ede300b98e8d28d","name":"ДатаЧас","func":"var date1 = new Date(msg.payload);\nmsg.payload = 'Дата початку:' + date1.toLocaleString();\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":480,"wires":[["f69fdf8b41fb5099"]]},{"id":"f69fdf8b41fb5099","type":"debug","z":"7ede300b98e8d28d","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":480,"wires":[]},{"id":"dc5c728a803c5e59","type":"inject","z":"d5541ced36b63df0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":140,"wires":[["f751a77bfbf38440"]]},{"id":"f751a77bfbf38440","type":"NetworkIntf","z":"d5541ced36b63df0","name":"internet","x":420,"y":140,"wires":[["2271060c2ceb51c1"]]},{"id":"5745cca1aab4f0e7","type":"debug","z":"d5541ced36b63df0","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":840,"y":140,"wires":[]},{"id":"d0dfb7f23de96d69","type":"function","z":"d5541ced36b63df0","name":"function 1","func":"","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":140,"wires":[[]]},{"id":"2271060c2ceb51c1","type":"change","z":"d5541ced36b63df0","name":"","rules":[{"t":"set","p":"macethernet","pt":"msg","to":"payload.networkInterfaces[\"Ethernet 2\"][0].address","tot":"msg"},{"t":"set","p":"macwifi","pt":"msg","to":"payload.networkInterfaces[\"Беспроводная сеть\"][0].address","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":220,"wires":[["5745cca1aab4f0e7"]]},{"id":"3df403176c761c85","type":"global-config","env":[],"modules":{"node-red-contrib-os":"0.2.1"}}]
